.buttons{
	padding-top: 25px;
	font-size: 110%;
}

.page{
	background-color: #F5F5F5;
	height: 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-left: 150;
  	position: fixed;
  	top: 0;
  	width: 100%;
}

.ng-hide 
{
	display: block!important;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.ticket
{
	margin: 10px;
	overflow: auto;
	background-color: #2196F3;
	color: #FFFFFF;
	height: 250px;
	border-radius: 5px;
	border-width: 0px;
}

.btn
{
	background-color: #558B2F;
	color: #FFFFFF;
	border-radius: 5px;
	border-width: 0px;
	margin: 10px;
}
.btn:hover
{
	background-color: #33691E;
	color: #FFFFFF;
}
.notDone
{
	background-color: #78909C;
	height: 250px;
	overflow: auto;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	border-width: 0px;
	margin: 10px;
}
.done
{
	background-color: #CFD8DC;
	height: 250px;
	overflow: auto;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	border-width: 0px;
	margin: 10px;
}